@media screen and (max-width: 568px){
    body {
        font-size: 16px;
        margin: 20px 20px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    
    img {
        max-width: 100%;
    }
    
    figure {
       display: flex;
       flex-direction: column;
      padding-top: 20px;
    }
}

@media screen and (max-width: 800px) and (min-width:568px){
    body {
        background:yellow;
        font-size: 16px;
        margin: 20px 20px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    
    img {
        max-width: 100%;
    }

    .img-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    figure {
        width: 170px ;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }
}


